// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap');
@import './splash-animations.scss';

* {
	font-family: "Red Hat Display";
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
::-webkit-scrollbar-thumb:active {
  background: #a6a6a6;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;